@use '../abstracts' as *;

.btn {
  @include btn-base;

  &-primary {
    @include btn-primary;
  }

  &-secondary {
    @include btn-base;
    background-color: $color-primary-medium;
    color: $color-white;

    &:hover:not(:disabled) {
      background-color: $color-primary-light;
    }
  }

  &-accent {
    @include btn-base;
    background-color: $color-accent;
    color: $color-primary-dark;

    &:hover:not(:disabled) {
      opacity: 0.9;
    }
  }

  &-outline {
    @include btn-base;
    background-color: transparent;
    border: 2px solid $color-primary-dark;
    color: $color-primary-dark;

    &:hover:not(:disabled) {
      background-color: $color-primary-dark;
      color: $color-white;
    }
  }
}