@use '../abstracts' as *;

.card {
  @include card;

  &:hover {
    box-shadow: $shadow-lg;
    border-color: $color-primary-light;
  }

  &-branded {
    @include card;
    border-left: 4px solid $color-primary-dark;

    &:hover {
      border-left-color: $color-primary-medium;
    }
  }

  &-header {
    margin-bottom: $spacing-md;
    padding-bottom: $spacing-md;
    border-bottom: 1px solid $color-gray-200;
  }

  &-title {
    color: $color-primary-dark;
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    margin: 0;
  }

  &-body {
    color: $color-gray-700;
    line-height: $line-height-relaxed;
  }

  &-footer {
    margin-top: $spacing-md;
    padding-top: $spacing-md;
    border-top: 1px solid $color-gray-200;
    display: flex;
    gap: $spacing-sm;
  }
}